<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/CSS/index.css" />
    <style id="cvd_style" type="text/css"></style>
    <title>Activities</title>
  </head>
  <body>
    <!-- Container 5 -->
    <div class="containerMain">
      <div class="title">
        <h3>Activities</h3>
      </div>
    </div>
    <!-- Container 6 -->
    <div class="containerMain">
      <div class="title">
        <p>Initiated more than 10'000 clients to outdoor sports</p>
        <ul>
          <li>Teacher specialized in outdoor activities</li>
          <li>
            Certified instructor: caving, hiking, nordic walking, pilates,
            skiing, swimming
          </li>
          <li>Skiing teacher for more than 20 years</li>
          <li>
            Competitions in cross-country skiing, triathlon and adventure races
            (7th in the Raid Terra Incognita (420 km)
          </li>
        </ul>
      </div>
    </div>
    <!-- Footer buttons -->
    <footer>
      <div class="buttonMainPage">
        <button>
          <a href="/">Back to Main Page</a>
        </button>
      </div>
      <div class="buttonContact">
        <button><a href="/contact">Contact Me</a></button>
      </div>
    </footer>
    <!-- End -->
  </body>
</html>
