<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Awesome Web Page</title>
    <link rel="stylesheet" href="/static/CSS/index.css" />
    <style id="cvd_style" type="text/css"></style>
    <script src="/static/script.js"></script>
  </head>
  <body>
    <!-- First container -->
    <div class="containerMain">
      <div class="box">
        <img class="avatar" src="/static/images/img_avatar.png" alt="Avatar" />
      </div>
      <div class="box">
        <h1>Ziva TAVCAR</h1>
      </div>
      <div class="box">
        <h2 class="title">Welcome to my web page!</h2>
        <p class="title">
          <a href="https://exts.epfl.ch/" title="EPFL Extension School">
            EPFL Extension School project</a
          >
        </p>
      </div>
    </div>
    <!-- Second container -->
    <div class="containerMain">
      <div class="box">
        <div class="title">
          <h3>Projects</h3>
        </div>
        <div class="image">
          <img
            src="/static/images/beehive.jpg"
            alt="Ziva with beehive"
            width="250"
          />
        </div>
        <div class="button">
          <button><a href="/projects">Projects</a></button>
        </div>
      </div>
      <div class="box">
        <div class="title">
          <h3>Activities</h3>
        </div>
        <div class="image">
          <img
            id="triathlon"
            src="/static/images/triathlon.jpg"
            alt="triathlon"
            width="250"
          />
        </div>
        <div class="button">
          <button>
            <a href="/activities">Activities</a>
          </button>
        </div>
      </div>
      <div class="box">
        <div class="title">
          <h3>Publications</h3>
        </div>
        <div class="image">
          <img
            class="article"
            src="/static/images/article2.jpg"
            alt="Joint Bone Spine"
            width="125"
          />
          <img
            class="article"
            src="/static/images/article1.jpg"
            alt="Science & Motricite"
            width="125"
          />
        </div>
        <div class="button">
          <button>
            <a href="/publications">Discover Publications</a>
          </button>
        </div>
      </div>
      <!-- End of container -->
    </div>
    <!-- Footer button contact me -->
    <div class="buttonContact">
      <footer>
        <button><a href="/contact">Contact Me</a></button>
      </footer>
    </div>
    <!-- fin -->
  </body>
</html>
