<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/static/CSS/projects.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style id="cvd_style" type="text/css"></style>
</head>
<body>
    <div class="container3">
      <div class="boxProjects">
        <h3>Projects</h3>
    </div>
    <div class="boxText">
        <p>Passionate by project management</p>
    </div>
    <div class="boxDetails">
        <p>Projects including all phases from development to implementation:</p>
        <ul>
            <li>EPFL Extension School (work on progress)</li>
            <li>Slovenia offers a beehive to Switzeland & popularises the international polinizators day (2019-2022)</li>
            <li>Hackatons (Human Ressources, Health, UBS-Money Laundering)</li>
            <li>Waste management in Zermatt (2019)</li>
            <li>MBA Consulting project (2016)</li>
            <li>The effect of unstable shoes on chronic low back pain (2009-2011)</li>
            <li>Gait and chronic low back pain (2010)</li>
            <li>Caving as a compulsory subject in Slovenian primary schools (2003)</li>
        </ul>
    </div>
<!-- Footer buttons -->
    <footer>
        <div class="mainPage">
          <a href="/templates/index.html"></a>
          <input type="button" value="Back To Main Page" />
        </div>
        <div class="contactMe">
            <footer>
              <a href="contact.html"></a>
              <input type="button" value="Contact Me" />
        </div>
    </footer>   
<!-- End -->
</body>
</html>