<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="/static/CSS/index.css" />
    <style id="cvd_style" type="text/css"></style>
  </head>
  <body>
    <!-- Container 3 -->
    <div class="containerMain">
      <div class="title">
        <h3>Projects</h3>
      </div>
    </div>
    <!-- Container 4 -->
    <div class="containerMain">
      <div class="title">
        <p>Projects including all phases from development to implementation</p>
        <ul>
          <li>EPFL Extension School (work on progress)</li>
          <li>
            Slovenia offers a beehive to Switzeland & popularises the
            international polinizators day (2019-2022)
          </li>
          <li>Hackatons (Human Ressources, Health, UBS-Money Laundering)</li>
          <li>Waste management in Zermatt (2019)</li>
          <li>MBA Consulting project (2016)</li>
          <li>
            The effect of unstable shoes on chronic low back pain (2009-2011)
          </li>
          <li>Gait and chronic low back pain (2010)</li>
          <li>
            Caving as a compulsory subject in Slovenian primary schools (2003)
          </li>
        </ul>
      </div>
    </div>
    <!-- Footer buttons -->
    <footer>
      <div class="buttonMainPage">
        <button><a href="/">Back to Main Page</a></button>
      </div>
      <div class="buttonContact">
        <button><a href="/contact">Contact Me</a></button>
      </div>
    </footer>
    <!-- End -->
  </body>
</html>
