<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Publications</title>
    <link rel="stylesheet" href="/static/CSS/index.css" />
    <style id="cvd_style" type="text/css"></style>
  </head>
  <body>
    <!-- Container 7 -->
    <div class="containerMain">
      <div class="title">
        <h3>Discover Publications</h3>
      </div>
    </div>
    <!-- Container 8 -->
    <div class="containerMain">
      <div class="title">
        <p>Scientific publications</p>
        <ul>
          <li>
            Tabard-Fougère A., Genevay S., Tavcar Z., Vuillerme N., Armand S:
            Effect of unstable shoes on trunk posture during standing and gait
            in chronic low back pain. Movement & Sport Sciences - Science &
            Motricité 2017. 98: 59–65
            <a
              href="https://www.mov-sport-sciences.org/articles/sm/abs/2017/04/sm170017s/sm170017s.html"
              title=" Link "
              >Link</a
            >
          </li>
          <li>
            Tavcar Z.: Low back pain in young athletes: is practicing sports,
            prevention or a risk factor?. Slovenian Journal of Sport Sciences
            and Medicine. 2015
          </li>
          <li>
            Tavcar Z., Armand S., Genevay S: Unstable shoes can reduce chronic
            low back pain among employees of the University hospital. Holistic
            approach to the patient in health and social care. International
            Conference. Oral presentation. Faculty of Health Sciences. 14.
            November 2014. Novo Mesto, Slovenia
          </li>
          <li>
            Armand S., Tavcar Z., Turcot K., Genevay S., Hoffmeyer P.: Effects
            of unstable shoes on chronic low back pain in health professionals:
            A randomized clinical trial. Joint Bone Spine, v81 n6 (December
            2014): 527-532
            <a
              href="https://www.sciencedirect.com/science/article/abs/pii/S1297319X14001456?via%3Dihub"
              title=" Link "
            >
              Link
            </a>
          </li>
          <li>
            Armand S., Allet L., Tavcar Z., Turcot K., Hoffmeyer P., Genevay S.:
            Des chaussures instables pour traiter la lombalgie chronique? Une
            étude pilote, randomisée et contrôlée. Rheumatology week. 2013.
            Aix-les-Bains, France
          </li>
          <li>
            Armand S., Tavcar Z., Turcot K., Hoffmeyer P., Genevay S.: Effects
            of unstable shoes on chronic low back pain in health professionals:
            A randomized controlled trial. Poster presentation. SpineWeek 2012.
            Amsterdam. Netherland
          </li>
        </ul>
      </div>
    </div>
    <!-- Footer buttons -->
    <footer>
      <div class="buttonMainPage">
        <button><a href="/templates/index.html">Back to Main Page</a></button>
      </div>
      <div class="buttonContact">
        <button><a href="contact.html">Contact Me</a></button>
      </div>
    </footer>
    <!--End-->
  </body>
</html>

<body></body>
