.containerMain{
    display:flex;
    border: 1px red solid;
    background-color: #ccc;
    padding: 20px;
}
.box{
    flex:1;
    border: 1px solid red; 
    color: rgb(6, 6, 84);
    font: normal 20px Arial, Helvetica, sans-serif;
    padding: 10px;
}
.boxBig{
    flex:3;
    border: 1px solid red;
    padding: 10px;
}
.avatar{
    clip-path: circle();
    width: 100%; 
}
.title{
    display:flex
    padding: 10px;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red; 
    padding: 5px;
}
/* .beehive, .article, .triathlon{
    min-height: 189px; 
} */
.article{
    display:flex;
    padding-left: 5px;
    padding-right: 5px; 
}
.button{
    padding:10px;
    justify-content: left;
    vertical-align: bottom;
}
.buttonContact{
    float:right;
}

/* projet, acitvities, publications css */
.buttonMainPage{
    float:right;
}

/* contact.css */
.form-group{
    padding-bottom: 15px;
    display:block;
    width:90%;
}
.my-form textarea{
    padding: 8px;
    width:90%;
}
