
.container1{
    display:flex; 
    border: 1px red solid;
    background-color: #ccc;
}
.container2{
    display:flex;
    border: 1px red solid;
    background-color: #ccc;
}
.box1{
    flex:1;
    order:1; 
    border: 1px solid red; 
    clip-path: circle();
    width: 10%;
    justify-content: center;
}
.box2{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex:1;
    order:2;
    color: rgb(6, 6, 84);
    border: 1px solid red; 
    font: normal 20px Arial, Helvetica, sans-serif;
}
.box3{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex:3;
    order:3;
    color: rgb(6, 6, 84);
    font: Arial, Helvetica, sans-serif;
}
.box4{
    flex:1;
    order:1;
    color: rgb(6, 6, 84);
    font: Arial, Helvetica, sans-serif;
}
.box5{
    flex:1;
    order:2;
    color: rgb(6, 6, 84);
    font: Arial, Helvetica, sans-serif;
}
.box6{
    flex:1;
    order:3;
    color: rgb(6, 6, 84);
    font: Arial, Helvetica, sans-serif;
}
.button{
    background-color: #ccc; 
   
}
.avatar{
    clip-path: circle();
    width: 100%; 
  }
.beehive{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red; 
    width: 100%;
    padding: 10px;
}
.triathlon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red; 
    width: 100%;
    padding: 10px;
}
#article2end1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 100%;
    height: 25.4vh;
}
.article{
    padding: 10px;
}
.button{
    justify-content:right;
    display: flex;
}